<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>
    <div class= "container" >
        <form class="form" id="book">
            <h1 class="title">Book Room</h1>
            <div class="message message--error"></div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Patient name">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="ID">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Phone Number">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Address">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Room class">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Bed Type">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="Patient status">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="date" class="input" autofocus placeholder="Date">
                <div class="input-error-message"></div>
            </div>
            <button class="button" type="submit">Continue</button>
            <p class="text">
                <a class="link" href="./" id="linkLogin">New patient? Sign up</a> <br>
                <a class="link" href="./" id="linkbookroom">Book a room?</a>
            </p>
        </form>

</body>
