<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>
    {% include "/public/templates/base/sidebar.html" %} 
            
    {% block content %} {% endblock %}  
    <div class= "container" >
        <form class="form" id="book" method="POST">
            <h1 class="title">Book Appointment</h1>
            <div class="message message--error"></div>
            <div class="input-group">
                <input type="text" class="input" id = "name" autofocus placeholder="Patient name" name = "patname">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" autofocus placeholder="ID" name = "patID">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" id="PN" autofocus placeholder="Phone Number" name = "patage">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="text" class="input" id="MSG" autofocus placeholder="Details for appointment">
                <div class="input-error-message"></div>
            </div>
            <div class="input-group">
                <input type="date" class="input" autofocus placeholder="Date">
                <div class="input-error-message"></div>
            </div>

            <button class="button" type="button" onclick="submit_entry()">Continue</button>

            <p class="text">
                <a class="link" href="./" id="linkLogin">New patient? Sign up</a> <br>
                <a class="link" href="./" id="linkbookroom">Book a room?</a>
            </p>
        </form>
    </div>
    <script>
        function submit_entry() {
        
        var name = document.getElementById("name");
        var PN = document.getElementById("PN");
        var message = document.getElementById("MSG");
        var entry = {
            name:name.value,
            message:message.value
        };
        console.log(entry);
}
    </script>
</body>
</html>