<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Patient</title>
    <!---Custom CSS File--->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/patient.css') }}">

  </head>
  

  <body>
    
    <section class="container">
      <a href="{{ url_for('staffPage') }}" >Return to Home Page</a>
      <header>Patient Form</header>
      <form action="/create_patient" class="form" method="POST">
        <div class="input-box">
          <label>SSN</label>
          <input type="text" placeholder="Enter Patient social security number" name = "pSSN" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>First Name</label>
            <input type="text" placeholder="Enter first name" name = "fname" required />
          </div>
  
          <div class="input-box">
            <label>Last Name</label>
            <input type="text" placeholder="Enter Last Name" name = "lname" required />
          </div>
        </div>


        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="text" placeholder="Phone number" name = "pnumber" required />
          </div>
          <div class="input-box">
            <label>Family Phone Number</label>
            <input type="text" placeholder="Family Number" name = "fnumber" required />
          </div>
         </div> 

         <div class="column">
          <div class="age-box">
            <label>Age</label>
            <input type="text" placeholder="Age" name="age" required />
          </div>
          
        
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">Male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
          </div>
        </div>
      </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter City" name="address" required/>

          <br> 
          
          <div class = "column">   
            <div class="input-box">
              <label>Room Number</label>
              <input type="text" placeholder="Enter Room number" name="roomNB"  />
            </div>
          </div>
          <br>
          <div class="column">
            <div class="input">
            <label>Date Entering the Room</label>
            <input type="date" placeholder="Date Entering the Room" name="PEDR" required/>
          
          </div>
          <div class="input">
            <label>Date Leaving the Room</label>
            <input type="date" placeholder="Date Leaving the Room" name="PLDR"/>
          </div>
          {% with messages = get_flashed_messages(category_filter=['info']) %} {%
            if messages %} {% for msg in messages %}
            
            <p class="messages">{{ msg }}</p>
      
            {% endfor %} {% endif %} {% endwith%}
        </div>
        <button class="button" type="submit">Submit</button>
        
      </form>
    </section>
  </body>
</html>
