<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- link for icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- link to css file  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
    messages %}

    <p class="messages">{{ msg }}</p>

    {% endfor %} {% endif %} {% endwith%} {% include
    "/public/templates/base/header.html" %} {% block content %} {% endblock %}

    <!-- Home header Starts -->
    <header class="home" id="home">
      <div class="image">
        <img src="{{ url_for('static', filename='img/homepage.jpg') }}" />
      </div>
    </header>
    <!-- Home header Ends -->

    <!-- About us sectio Starts -->
    <section class="about" id="about">
      <h1 class="heading">About Us</h1>
      <div class="content">
        <p>
          LebMedCenter (LMC) is designed to offer patients the most innovative
          treatments and technologies available in the region, in a safe and
          compassionate environment. Our patients will be among the first to
          benefit from avant-garde treatments and technology since LMC is fully
          equipped with the most modern and advanced medical equipment, the
          first of its kind in the surrounding region.
        </p>
        <a href="#" class="btn">
          Learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </section>
    <!-- About us section Ends -->

    <!-- Doctor Section Starts -->
    <section class="doctors" id="doctors">
      <h1 class="heading">Our Expert Team</h1>

      <div class="box-container">
        <div class="box">
          <img src="{{ url_for('static', filename='img/Pamela.jpeg') }}" />
          <h3>Pamela Karam</h3>
          <span>Dermatologist</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img src="{{ url_for('static', filename='img/Anas.jpeg') }}" />
          <h3>Anas Honeini</h3>
          <span>Neurologist</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img src="{{ url_for('static', filename='img/Melanie.jpeg') }}" />
          <h3>Melanie Chamoun</h3>
          <span>Expert doctor</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Doctor Section Ends -->

    <!-- Reviews Section Starts -->
    <section class="review" id="review">
      <h1 class="heading">Client's Review</h1>
      <div class="box-container">
        <div class="box">
          <img src="{{ url_for('static', filename='img/Wissam.jpeg') }}" />
          <h3>Wissam Fawaz</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            "I would like to take this opportunity to express my deep
            appreciation for the excellent care received today at your medical
            center. I am highly impressed with the efficiency, professionalism,
            and personal attention exhibited by the LebMedCenter medical,
            nursing, and technical admisitrative staff."
          </p>
        </div>

        <div class="box">
          <img src="{{ url_for('static', filename='img/Joe.jpeg') }}" />
          <h3>Joe Tekli</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            "LebMedCenter truly sets the mark for excellence. I had a very
            comfortable and smooth experience. The doctors were very kind, and
            patient. The nursing staff is very courteous and supportive. Overall
            I would give them an A+ for their efforts."
          </p>
        </div>

        <div class="box">
          <img src="{{ url_for('static', filename='img/chadi.jpeg') }}" />
          <h3>Chadi Abou Rjeily</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            "Extremly courtaeous, patient, and friendly staff. Attentive to
            patient needs. Admission desk staff is extremly calm, friendly and
            respectful. One of the best Hospitals with dedicated doctors and
            staff."
          </p>
        </div>
      </div>
    </section>
    <!-- Reviews Section Ends -->

    <!-- Blogs Section Starts -->
    <section class="blogs" id="blogs">
      <h1 class="heading">Highlighted News</h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img
              src="{{ url_for('static', filename='img/doctor_article.png') }}"
            />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#">
                <i class="fas fa-calendar"></i>
                Friday, December 12, 2022
              </a>
            </div>
            <h3>Dr. Paul Yammine World Rank</h3>
            <a href="#" class="btn">
              Learn more
              <span class="fas fa-chevron-right"></span>
            </a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="{{ url_for('static', filename='img/nurse_day.jpeg') }}" />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#">
                <i class="fas fa-calendar"></i>
                Tuesday, May 12, 2020
              </a>
            </div>
            <h3>Nurses Day with Mersaco 2020</h3>
            <a href="#" class="btn">
              Learn more
              <span class="fas fa-chevron-right"></span>
            </a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="{{ url_for('static', filename='img/invention.jpeg') }}" />
          </div>
          <div class="content">
            <div class="icon">
              <a href="#">
                <i class="fas fa-calendar"></i>
                Wednesday, August 14, 2019
              </a>
            </div>
            <h3>
              The first iStent inject® device for the treatment of glaucoma in
              Lebanon
            </h3>
            <a href="#" class="btn">
              Learn more
              <span class="fas fa-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Blogs Section Starts -->

    <!-- Footer Section Starts -->
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>Quick Links</h3>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Home
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            About us
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Doctors
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Book
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Reviews
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Highlighted News
          </a>
        </div>

        <div class="box">
          <h3>Our Services</h3>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Dental care
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Message therapy
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Cardioloty
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Diagnosis
          </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i>
            Ambulance service
          </a>
        </div>

        <div class="box">
          <h3>Contact Info</h3>
          <a href="#">
            <i class="fas fa-phone"></i>
            +961 04 540 692
          </a>
          <a href="#">
            <i class="fas fa-phone"></i>
            +76 983 771
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
            LebMedCenter@gmail.com
          </a>
          <a href="#">
            <i class="fas fa-envelope"></i>
            LebMedCenter@hotmail.com
          </a>
          <a href="#">
            <i class="fas fa-map-marker-alt"></i>
            Lebanon, Beirut - Byblos
          </a>
        </div>

        <div class="box">
          <h3>Follow Us</h3>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
            facebook
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
            twitter
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
            instagram
          </a>
          <a href="#">
            <i class="fab fa-linkedin"></i>
            linkedin
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
            pinterest
          </a>
        </div>
      </div>
    </section>
    <!-- Footer Section Ends -->

    
  </body>
</html>
