<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
  </head>

  <header class="header">
    <img src="{{ url_for('static', filename='img/444.png') }}" />
    <p class="title">LebMedCenter</p>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />

    <nav class="navbar">
      <a href="{{ url_for('home') }}">Return to Home Page</a>
    </nav>
  </header>

  <body>
    <div class="container">
      <form class="form" id="login" action="/login" method="POST">
        <h1 class="title">Log in</h1>
        <div class="input-group">
          <input
            type="text"
            class="input"
            id="signupUsername"
            autofocus
            placeholder="First Name"
            name="fname"
          />
        </div>
        <div class="input-group">
          <input
            type="text"
            class="input"
            id="signupUsername"
            autofocus
            placeholder="Last Name"
            name="lname"
          />
        </div>

        <div class="input-group">
          <input
            type="text"
            class="input"
            id="SSN"
            autofocus
            placeholder="SSN"
            name="SSN"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            class="input"
            autofocus
            placeholder="Password"
            name="password"
          />
        </div>
        {% with messages = get_flashed_messages(category_filter=['info']) %} {%
        if messages %} {% for msg in messages %}

        <p class="messages">{{ msg }}</p>

        {% endfor %} {% endif %} {% endwith%} {% with messages =
        get_flashed_messages(category_filter=['error']) %} {% if messages %} {%
        for msg in messages %}

        <p class="messages">{{ msg }}</p>

        {% endfor %} {% endif %} {% endwith%}
        <button class="button" type="submit">Log in</button>

        <p class="text">
          <a class="link" href="{{ url_for('signup') }}" id="linkCreateAccount">
            Create a new account?
          </a>
        </p>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
