<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Medicine</title>
    <!---Custom CSS File--->
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/medicine.css') }}"
     />
  </head>
  <body>
    {% with messages = get_flashed_messages(category_filter=['info']) %} {%
      if messages %} {% for msg in messages %}
      
      <p class="messages">{{ msg }}</p>

      {% endfor %} {% endif %} {% endwith%}
    <section class="container">
      <header>Medicine Form</header>
      <form action="/newMedicine" class="form" method="POST">
        <div class="input-box">
          <label>Name</label>
          <input type="text" placeholder="Enter the name of the medicine" name="mName" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Type</label>
            <input type="text" placeholder="Enter type of the medicine" name="mType" required />
          </div>
  
          <div class="input-box">
            <label>Company Name</label>
            <input type="text" placeholder="Company Name" name="mCompany" required />
          </div>
        </div>


        <div class="column">
          <div class="input-box">
            <label>Expiry Date</label>
            <input type="date" placeholder="" name="mDate" required />
          </div>
          <div class="input-box">
            <label>Price</label>
            <input type="text" placeholder="Price in $" name="mPrice" required />
          </div>
         </div> 

      </div>
        
          <div class="input-box">
            <label>Doctor SSN</label>
            <input type="text" placeholder="Doctor SSN" name="DSSN" required/>
          </div>
            
        </div>
        <button class="button" type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
