<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Patient</title>
    <!---Custom CSS File--->
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/medicine.css') }}"
     />
  </head>
  <body>
    <section class="container">
      <header>Medicine Form</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Name</label>
          <input type="number" placeholder="Enter the name of the medicine" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Type</label>
            <input type="text" placeholder="Enter type of the medicine" required />
          </div>
  
          <div class="input-box">
            <label>Company Name</label>
            <input type="text" placeholder="" required />
          </div>
        </div>


        <div class="column">
          <div class="input-box">
            <label>Expiry Date</label>
            <input type="date" placeholder="" required />
          </div>
          <div class="input-box">
            <label>Price</label>
            <input type="number" placeholder="" required />
          </div>
         </div> 

      </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter street address"/>

          <div class="input">
            <label>Doctor SSN</label>
            <input type="text" placeholder="Date Leaving the Room"/>
          </div>
            
        </div>
        <button>Submit</button>
      </form>
    </section>
  </body>
</html>
