<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Signup Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
      />
      
  </head>
 
  <body>
    <div class="container">
        <form class="form" id="signup" action = "/signup" method = "POST">
            <h1 class="title">Create Account</h1>
        <div class="message message--error"></div>
        <div class="input-group">
            <input
            type="text"
            id="signupUsername"
            class="input"
            autofocus
            placeholder="Username" name="fname" 
          />

          <div class="input-group">
            <label> last </label>
              <input
              type="text"
              id="signupUsername"
              class="input"
              autofocus
              placeholder="Username" name="lname"
            />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <input
            type="email"
            class="input"
            autofocus
            required
            placeholder="Email" name="email"
          />
          <div class="input-error-message"></div>
        </div>
          <div class="input-group">
            <input
            type="text"
            class="input"
            autofocus
            placeholder="SSN" 
            name="SSN"
            />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <input
            type="password"
            class="input"
            autofocus
            required
            placeholder="Password"
            name = "password"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <input
            type="password"
            class="input"
            autofocus
            placeholder="Confirm password" name = confpass
          />
          <div class="input-error-message"></div>
        </div>
        <button class="button" type="submit">Sign Up</button>
        <p class="text">
          <a class="link" href="{{ url_for('login') }}" id="linkLogin"
            >Already have an account?</a
          >
        </p>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in messages %}
        <p class="messages"> {{ msg }} </p>
        {% endfor %} {% endif %} {% endwith%}
      </form>
    </div>
    
    

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
