<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Signup Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
      />
      <nav class="navbar">
          <ul>
          <li><a href="{{ url_for('home') }}">home</a></li>
      </nav> 
  </head>
  
  <body>
    <div class="container">
        <form class="form" id="login">
            <h1 class="title">Create Account</h1>
        <div class="message message--error"></div>
        <div class="input-group">
          <input
            type="text"
            id="signupUsername"
            class="input"
            autofocus
            placeholder="Username"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="input"
            autofocus
            placeholder="Email Address"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
          <input
            type="password"
            class="input"
            autofocus
            placeholder="Password"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
          <input
            type="password"
            class="input"
            autofocus
            placeholder="Confirm password"
          />
          <div class="input-error-message"></div>
        </div>
        <button class="button" type="submit">Continue</button>
        <p class="text">
          <a class="link" href="{{ url_for('login') }}" id="linkLogin"
            >Already have an account? Sign in</a
          >
        </p>
      </form>
    </div>
    
    {% include "/public/templates/base/header.html" %} 
    
    {% block content %} {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
