<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Signup Form</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
      />
      {% include "/public/templates/base/header.html" %}  
  </head>
  
  <body>
    <div class="container">
        <form class="form" id="signup" action = "/signup" method = "POST">
            <h1 class="title">Create Account</h1>
        <div class="message message--error"></div>
        <div class="input-group">
          <label> Username </label>
            <input
            type="text"
            id="signupUsername"
            class="input"
            autofocus
            placeholder="Username" name="name"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <label> Email Address </label>
            <input
            type="email"
            class="input"
            autofocus
            placeholder="Email Address" name="email"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <label> Password </label>
            <input
            type="password"
            class="input"
            autofocus
            placeholder="Password"
            name = "password"
          />
          <div class="input-error-message"></div>
        </div>
        <div class="input-group">
            <label> Confirm Password </label>
            <input
            type="password"
            class="input"
            autofocus
            placeholder="Confirm password" name = confpass
          />
          <div class="input-error-message"></div>
        </div>
        <button class="button" type="submit">Sign Up</button>
        <p class="text">
          <a class="link" href="{{ url_for('login') }}" id="linkLogin"
            >Already have an account? Sign in</a
          >
        </p>
      </form>
    </div>

    
    {% include "/public/templates/base/header.html" %} 
    

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
