<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Page</title>
    <script
      src="https://kit.fontawesome.com/2127468dd2.js"
      crossorigin="anonymous"
    ></script>
    <!-- link for icons  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- link to css file  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/staff.css') }}"
    />
    {% include "/public/templates/base/headerStaffPage.html" %} {% block content
    %} {% endblock %}
  </head>

  <body>
    <header class="home" id="home">
      <div class="image">
        <img src="{{ url_for('static', filename='img/staff.jpg') }}" />
        <h1 class="heading">Welcome User</h1>
      </div>
    </header>

    <section class="row" id="row">
      <section class="child_left">
        
        <div class="side-container">
          <div class="box_side">
            <h1 class="heading">Appointment Notes</h1>
            <p class="text">
              You can only book your appointment between <br>
              8 A.M to 10 P.M <br><br >
              In other times you can call our ambulance which is available 24/7
              on:
              <br>
            </p>
            <i class="fas fa-phone"></i> +961 04 540 692 <br >
            <i class="fas fa-phone"></i> +961 03 439 047 <br >
            <br >
            <hr>
            <p class="text">
              Please make sure to check the doctor's availibility below prior to
              booking an appointment
            </p>
            <br>
            <a href="#"
              ><i class="fas fa-notes-medical"></i> Doctor's schedule
            </a>
          </div>
        </div>
      </section>
      <!-- Calendar-->
      <section class="child_mid">
        <div class="calendar">
          <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date">
              <h1></h1>
              <p></p>
            </div>
            <i class="fas fa-angle-right next"></i>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="days"></div>
        </div>
      </section>

      <!-- Function Section Starts -->
      <section class="function" id="function">
        <div class="box-container">
          <h1 class="heading">Update Database</h1>
          <div class="box">
            <i class="fa-solid fa-hospital-user"></i>
            <h3>Patient</h3>
            <a href="#" class="btn2"> Add </a> <br />
            <a href="#" class="btn2"> Edit </a> <br />
            <a href="#" class="btn2"> Search </a> <br />
            <a href="#" class="btn2"> Show All </a>
          </div>

          <div class="box">
            <i class="fas fa-pills"></i>
            <h3>Medicine</h3>
            <a href="#" class="btn2"> Add </a> <br />
            <a href="#" class="btn2"> Edit </a> <br />
            <a href="#" class="btn2"> Search </a> <br />
            <a href="#" class="btn2"> Show All </a>
          </div>
        </div>
      </section>

      <!-- Functions Section Ends -->
    </section>

    <!-- Footer Section Starts 
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>Quick Links</h3>
          <a href="#"> <i class="fas fa-chevron-right"></i> Home </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> About us </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Doctors </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Book </a>
          <a href="#"> <i class="fas fa-chevron-right"></i> Reviews </a>
          <a href="#">
            <i class="fas fa-chevron-right"></i> Highlighted News
          </a>
        </div>
      </div>
    </section>-->
    <!-- Footer Section Ends -->

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
