<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Medicine</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/updatemedicine.css') }}"
    />
  </head>

  <body>
    <div class="astatus">
      <h1 style="color: rgb(0, 0, 0); text-align: center;">Medicine</h1>
      <br />

      {% with messages = get_flashed_messages() %} {% if messages %} {% for msg
      in messages %}
      <p
        style="font-weight: bolder; color: rgb(25, 22, 22); font-size: larger;"
      >
        {{ msg }}
      </p>
      {% endfor %} {% endif %} {% endwith%}

      <table>
        <tr>
          <th>Medicine Name</th>
          <th>Medicine Type</th>
          <th>Company Name</th>
          <th>Expiry Date</th>
          <th>Medicine Price</th>
          <th>Doctor SSN</th>
          <th>Last Edit</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {% for i in range(0,updateM|length) %}
        <tr>
          <td>{{ updateM[i][0] }}</td>
          <td>{{ updateM[i][1] }}</td>
          <td>{{ updateM[i][2] }}</td>
          <td>{{ updateM[i][3] }}</td>
          <td>{{ updateM[i][4] }}</td>
          <td>{{ updateM[i][5] }}</td>
          <td>{{ldate}}</td>

          <td>
            <button
              type="button"
              class="ubutton"
              onclick="window.location='editMedicinedetail/{{ updateM[i][0] }}'"
            >
              Edit Medicine
            </button>
          </td>

          <td>
            <form method="POST" action="{{ url_for('deleteMedicinedetail') }}">
              <input
                name="delete"
                type="hidden"
                class="ibutton"
                value="{{ updateM[i][0] }}"
              />
              <input
                type="submit"
                class="ibutton"
                value="Delete From Medicine"
              />
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <br />

      <form action="{{ url_for('update_medicine') }}">
        <button type="submit" class="ibutton" value="Refresh the list">
          Refresh Status
        </button>
        <br />
        <br />
        <a class="ibutton" href="{{ url_for('staffPage') }}">
          Return to Home Page
        </a>
      </form>
    </div>
  </body>
</html>
