<!DOCTYPE html>
<html lang="eng">
  <section class="about" id="about">
    <h1 class="heading">
      <span>about</span>
      us
    </h1>

    <div class="row">
      <div class="image">
        <img src="image/about-img.svg" alt="" />
      </div>

      <div class="content">
        <h3>we take care of your healthy life</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure
          ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit
          tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero
          ipsam laborum porro voluptates voluptatibus a nihil temporibus
          deserunt vel?
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </section>
  <section class="icons-container">
    <div class="icons">
      <i class="fas fa-user-md"></i>
      <h3>140+</h3>
      <p>doctors at work</p>
    </div>

    <div class="icons">
      <i class="fas fa-users"></i>
      <h3>1040+</h3>
      <p>satisfied patients</p>
    </div>

    <div class="icons">
      <i class="fas fa-procedures"></i>
      <h3>500+</h3>
      <p>bed facility</p>
    </div>

    <div class="icons">
      <i class="fas fa-hospital"></i>
      <h3>80+</h3>
      <p>available hospitals</p>
    </div>
  </section>

  <section class="services" id="services">
    <h1 class="heading">
      our
      <span>services</span>
    </h1>

    <div class="box-container">
      <div class="box">
        <i class="fas fa-notes-medical"></i>
        <h3>free checkups</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-ambulance"></i>
        <h3>24/7 ambulance</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-user-md"></i>
        <h3>expert doctors</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-pills"></i>
        <h3>medicines</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-procedures"></i>
        <h3>bed facility</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-heartbeat"></i>
        <h3>total care</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
        </p>
        <a href="#" class="btn">
          learn more
          <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </section>
  <section class="doctors" id="doctors">
    <h1 class="heading">
      our
      <span>doctors</span>
    </h1>

    <div class="box-container">
      <div class="box">
        <img src="{{ url_for('static', filename='img/Pamela.jpeg') }}" />

        <h3>Pamela Karam</h3>
        <span>Expert doctor</span>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
      </div>

      <div class="box">
        <img src="{{ url_for('static', filename='img/Anas.jpeg') }}" />
        <h3>Anas Honeini</h3>
        <span>Expert doctor</span>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
      </div>

      <div class="box">
        <img src="{{ url_for('static', filename='img/Melanie.jpeg') }}" />
        <h3>Melanie Chamoun</h3>
        <span>Expert doctor</span>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="#" class="fab fa-linkedin"></a>
        </div>
      </div>
    </div>
  </section>
</html>
