<header class="header">

    <a href="#" class="logo"> <img src="../static/img/LebMedCenterLogo1.png"></i> LebMedCenter </a>
        
    
    <nav class="navbar">
        
        <a href="{{ url_for('home') }}">home</a>
        <a href="#services">services</a>
        <a href="#about">about</a>
        <a href="#doctors">doctors</a>
        <a href="{{ url_for('booking') }}">book</a></li>
        <a href="#review">review</a>
        <a href="{{ url_for('login') }}" >Login to patient's account</a>
    
    </nav>
</header>