<header class="header">

    <a href="#" class="logo"> <img src="../static/img/LebMedCenterLogo1.png"></i> LebMedCenter </a>
        
    
    <nav class="navbar">
        <ul>
        <li><a href="{{ url_for('home') }}">home</a></li>
        <li><a href="#services">services</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#doctors">doctors</a></li>
        <li><a href="{{ url_for('booking') }}">book</a></li>
        <li><a href="#review">review</a></li>
        <li><a href="{{ url_for('login') }}" >Login to patient's account</a></li>
    </ul>
    </nav>
</header>