<header class="header">

   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">   
    
    <nav class="sidebar">
        
        <a href="{{ url_for('home') }}">home</a>
        <a href="#services">services</a>
        <a href="#about">about</a>
        <a href="#doctors">doctors</a>
        <a href="{{ url_for('booking') }}">book</a></li>
        <a href="#review">review</a>
        <a href="{{ url_for('login') }}" >Login to patient's account</a>
    
    </nav>
</header>