<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
    
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    
<div class="login-box">
    <h1>Login</h1>

    <form>
        <label>Email</label>
        <input type="email" placeholder="">
  
        <label>Password</label>
        <input type="password" placeholder="">
  
    
  
        <a href="CV.html"><input type="button"  value="Submit"></a> > 

        <div class="social-icons">
            <img src="facebook.png">
            <img src="insta.png">
            <img src="twitter.png">
            
        </div>
    </form>
</div>

<p class="para-2">Don't have an account? <a href="signup.html">Sign Up Here</a> </p>


</body>
</html>