<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Sign up Page</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="signup-box">
  <h1>Sign Up</h1>
  <h4>It's free and only takes a minute</h4>

  <form>
      <label>First Name</label>
      <input type="text" placeholder="">

      <label>Last Name</label>
      <input type="text" placeholder="">
      
      <label>Email</label>
      <input type="email" placeholder="">

      <label>Password</label>
      <input type="password" placeholder="">

      <label>Confirm Password</label>
      <input type="password" placeholder="">

      
      <a href="CV.html"><input type="button" onclick="create()" value="Submit"></a> > 
      <div class="social-icons">
        <img src="facebook.png">
        <img src="insta.png">
        <img src="twitter.png">
        
    </div>
    <p class="para-2">Already have an account?  <a href="{{ url_for('login') }}"> Login here </a></p>
 

  </form>

<p class="T">By clicking the Sign up button , you agree to our <br>
    <a class="a1" href="#">Terms and Conditions</a> and <a class="a2" href="#">Policy Privacy</a>
</p>

</div>





</body> 



</html>
